Load the Data

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./data/retail_sales_dataset.csv')
df.head()

,Transaction ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,1,2023-11-24,CUST001,Male,34,Beauty,3,50,150
1,2,2023-02-27,CUST002,Female,26,Clothing,2,500,1000
2,3,2023-01-13,CUST003,Male,50,Electronics,1,30,30
3,4,2023-05-21,CUST004,Male,37,Clothing,1,500,500
4,5,2023-05-06,CUST005,Male,30,Beauty,2,50,100

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB

In [16]:
for column in df.columns:
    print(f"Unique values in '{column}':")
    print(df[column].unique()[:5])
    print(f"Count of unique values in '{column}':{len(df[column].unique())}" )
    print()

Unique values in 'Transaction ID':
[1 2 3 4 5]

Unique values in 'Date':
['2023-11-24' '2023-02-27' '2023-01-13' '2023-05-21' '2023-05-06']

Unique values in 'Customer ID':
['CUST001' 'CUST002' 'CUST003' 'CUST004' 'CUST005']

Unique values in 'Gender':
['Male' 'Female']

Unique values in 'Age':
[34 26 50 37 30]

Unique values in 'Product Category':
['Beauty' 'Clothing' 'Electronics']

Unique values in 'Quantity':
[3 2 1 4]

Unique values in 'Price per Unit':
[ 50 500  30  25 300]

Unique values in 'Total Amount':
[ 150 1000   30  500  100]